<%- include('partials/header', { title: 'Login do Administrador', showNavbar: false }) %>

<div class="login-page-wrapper">
    <div class="card shadow-sm">
        <div class="card-body p-4">
            
            <%- include('partials/flashMessages') %>

            <div class="text-center mb-4">
                <i class="bi bi-shield-lock-fill" style="font-size: 3rem; color: var(--bs-primary);"></i>
                <h2 class="h3">Acesso do Administrador</h2>
            </div>

            <form action="/auth/login" method="POST">
                <div class="form-floating mb-3">
                    <input type="email" name="email" class="form-control" id="emailInput" placeholder="seu@email.com" required>
                    <label for="emailInput">Email:</label>
                    </div>
                <div class="form-floating mb-3">
                    <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Senha" required>
                    <label for="passwordInput">Senha:</label>
                    </div>
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="bi bi-box-arrow-in-right me-2"></i> Entrar
                    </button>
                </div>
            </form>
        
        </div>
    </div>
</div>

<%- include('partials/footer') %>